# Mac
#======================
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


#Windows 
#======================
# thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
